body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
  
    background-color: white;
}


/*--navigation bar--*/

nav{
    ul{
      display: flex;
      justify-content: center;
      margin-top: 70px;
      margin:auto;
      padding: 0;
      background-color: #4e4e4e;
    }

    li{

      list-style-type: none;
    }
    
    li a{
      color: #fff;

      margin: 5px;
      margin-left: 10px;
      margin-right: 10px;

    text-decoration: none;
    display: block;
    }
}

/*menu personalizer*/
.color-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos del menú */
.nav-container {
    position: relative;
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.dropdown .color-option {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;
}

/* Mostrar menú al pasar el mouse */
.nav-container:hover .dropdown {
    display: block;
}